<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Greeting:IsEnabled" value="true"/>
    <add key="Greeting:GreetingText" value="Hello from config"/>
    <add key="Greeting:Boolean" value="false"/>
    <add key="Greeting:ShouldNotBeLoaded" value="Should not be loaded"/>
    <add key="Greeting:Nested:Name" value="Mr. Anderson"/>
  </appSettings>
</configuration>